*{
  padding: 0px;
 margin: 0px;
}

/* STYLE MAIN TAG */
main{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0%;
  margin-left: 0%;
}
 
#nav {
  text-align: center;
  margin: 0;
  padding: 0;
}


/* STYLE SECTIONING TAGS */
body {
 background-color: #b697f0	; 
  text-align: center;
}

/* STYLE TEXT */

header {
  color: white;
  background-image: linear-gradient(#b697f0, white);
  text-align: center;
  font-family: Impact, fantasy;
}

p {
  color: black;
  font-family: Comic Sans MS, Comic Sans, cursive; 
}

ol {
  color: black;
  font-family: Comic Sans MS, Comic Sans, cursive; 

}

ul {
  color: black;
  font-family: Comic Sans MS, Comic Sans, cursive;  
}


p1{
    color: black;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;

}

 
/* STYLE IMAGES */

img{
  max-width: 30%;
  border-radius: 5%;
  margin-bottom: 2em;
  border: 4px solid ##b697f0;
  margin-top: 1em;
}

h1{ font-size: 2.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em}

#IntroText {
  color: black;
  padding: 0px;
  margin: 0px;
  background-color: #b697f0;


  }

.PAT {

  border-radius: 0%;
  margin-bottom: 2em;
  border: 4px solid #b697f0;
  margin-top: 1em; 
}

#con {
    color: white;
  font-size: 10em;
}

ul {
  list-style-type: none;
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding: 1em;
  text-shadow: 1px 1px #b697f0;
}

li a:hover {
  background-color: lightgrey;
}

.obTitle { 
  color: white;
  font-family: Impact, fantasy;
  text-shadow: 5px 5px black;
  font-size: 2em;
  
}